server:
    port: 8761

spring:
    application:
        name: tm-eureka
    cloud:
        client:
            hostname: localhost
eureka:
    instance:
        hostname: localhost
    client:
        registerWithEureka: false
        fetchRegistry: false
        serviceUrl:
            defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
    server:
        enableSelfPreservation: false
